.active {
  background: linear-gradient(91.47deg, #DA458F -6%, #DA34DD 113.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
  position: relative;
  font-weight: bold;
  .span {
    position: absolute;
    left: 0.75rem;
    width: 16px;
    height: 2px;
    bottom: 0.35rem;
    background: linear-gradient(91.47deg, #DA458F -6%, #DA34DD 113.05%);
  }
}

.btn_connect {
  background: linear-gradient(91.47deg, #DA458F -6%, #DA34DD 113.05%);
  box-shadow: 0px 0px 50px rgba(187, 75, 255, 0.32);
  border-radius: 4px;
  color: #FFFFFF;
  width: 160px;
  height: 40px;
  &:hover {
    background: linear-gradient(91.47deg, #b93b7a -6%, #b02ab3 113.05%);
  }
}
