
.frame {
  height: 348px;
  background-image: url('../../assets/images/frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 70px;
}